<%- include ('partials/header') -%>

    <main>
        <section class="flex justify-center ">
            

            <div class="max-page-width flex flex-col gap-3 md:gap-6 px-4 md:px-0 sm:w-[80%] md:w-[70%] lg:w-[40%] mt-28 sm:mt-36 mb-14 md:mb-24 lg:mb-24">
                <h1 class="text-3xl md:text-4xl font-medium text-center px-4 md:px-0">Sign up to hire talent</h1>

                <form action="/signup/client" method="post" class="border p-3 md:p-8 flex flex-col gap-2 md:gap-6 rounded-md">
                    <% if (message) { %>
                        <div class="bg-red-600 text-white text-center border-red-800 rounded-md">
                            <p class="text-lg"> <%= message %></p>
                        </div>
                           
                    <% } %>
                    <div class="flex flex-row gap-2 md:gap-0 justify-between">
                        <div class="w-[48%] flex flex-col gap-2">
                            <label class="font-medium" for="fname">First Name</label>
                            <input class="border rounded-md h-12 focus:outline-none focus:border-[#10B981] px-6" type="text" name="fname" id="fname">
                        </div>
                        
                        <div class="w-[48%] flex flex-col gap-2">
                            <label class="font-medium" for="lname">Last Name</label>
                            <input class="border rounded-md h-12 focus:outline-none focus:border-[#10B981] px-6" type="text" name="lname" id="lname">
                        </div>
                    </div>

                    <div class="flex flex-col gap-2 md:gap-6 md:justify-between">
                        <div class="w-[100%] flex flex-col gap-2">
                            <label class="font-medium" for="email">Work email address</label>
                            <input class="border rounded-md h-12 focus:outline-none focus:border-[#10B981] px-6" type="email" name="email" id="email" placeholder="Enter your work email address">
                        </div>

                        <div class="w-[100%] flex flex-col gap-2">
                            <label class="font-medium" for="password">Password</label>
                            <input class="border rounded-md h-12 focus:outline-none focus:border-[#10B981] px-6" type="password" name="password" id="password" placeholder="Password (8 or more characters)">
                        </div>
                    </div>

                    <button class="bg-[#10B981] text-center text-white font-medium w-[100%] py-2 rounded-md mt-2 md:mt-0" type="submit">Create my account</button>
                    
                    <div class="flex justify-center mt-8 gap-2">
                        <h3>Already have an account?</h3>
                        <a href="/login" class="underline text-[#10B981]">Log in</a>
                    </div>
                </form>
            </div>
        </section>

        <!-- Spinner element -->
        <div id="spinner" class="flex-col hidden fixed inset-0 flex items-center justify-center bg-gray-800 bg-opacity-50">
            <div class="spinner-border animate-spin inline-block w-16 h-16 border-8 rounded-full text-green-500"></div>
            <p class="text-white">signing up...</p>
        </div>
    </main>
    
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const signupForm = document.getElementById('signupForm');
            const spinner = document.getElementById('spinner');
    
            signupForm.addEventListener('submit', function (event) {
                spinner.classList.remove('hidden');
            });
        });
    </script>
    
</body>
</html>