<%- include ('partials/header') -%>

    <main>
        <section class="flex justify-center ">
            <div class="max-page-width flex flex-col gap-3 md:gap-6 px-4 md:px-0 sm:w-[80%] md:w-[70%] lg:w-[40%] mt-28 sm:mt-36 mb-14 md:mb-24 lg:mb-24">
                <h1 class="text-3xl md:text-4xl font-medium text-center px-4 md:px-0">Login to Kreate</h1>

                <%- include ('partials/flashError') -%>

                <form action="/login" method="post" class="border p-3 md:p-8 flex flex-col gap-2 md:gap-6 rounded-md">
                    <div class="flex flex-col gap-2 md:gap-6 md:justify-between">
                        <div class="w-[100%] flex flex-col gap-2">
                            <label class="font-medium" for="email"> Email</label>
                            <input class="border rounded-md h-12 focus:outline-none focus:border-[#10B981] px-6" type="email" name="email" id="email" placeholder="Enter your email" required>
                        </div>

                        <div class="w-[100%] flex flex-col gap-2">
                            <label class="font-medium" for="password">Password</label>
                            <input class="border rounded-md h-12 focus:outline-none focus:border-[#10B981] px-6" type="password" name="password" id="password" placeholder="Password" required>
                        </div>
                    </div>

                    <button class="bg-[#10B981] text-center text-white font-medium w-[100%] py-2 rounded-md mt-2 md:mt-0" type="submit">Login</button>
                    <div class="flex justify-center mt- gap-2">
                        <h3>forgot your password?</h3>
                        <a href="reset-password" class="underline text-[#10B981]">Click here</a>
                    </div>
                    
                    <div class="flex justify-center mt-8 gap-2">
                        <h3>Don't have an account?</h3>
                        <a href="signup" class="underline text-[#10B981]">Sign Up</a>
                    </div>
                </form>
            </div>
        </section>
    </main>
    
</body>
</html>