<%- include ('partials/header') -%>

    <main>
        <section class="flex justify-center ">
            <div class="max-page-width px-4 md:px-0 sm:w-[80%] md:w-[70%] lg:w-[70%] pt-28 sm:pt-36 mb-14 md:mb-24 lg:mb-24">
                
                <%- include ('partials/flashError') -%>

                <form action="/reset-password" method="post" class="border p-3 md:p-8 flex flex-col gap-2 md:gap-6 rounded-md">
                    <div class="flex flex-col gap-2 md:gap-6 md:justify-between">
                        <div class="w-[100%] flex flex-col gap-2">
                            <label class="font-medium" for="email"> Email</label>
                            <input class="border rounded-md h-12 focus:outline-none focus:border-[#10B981] px-6" type="email" name="email" id="email" <%if(user){%> value="<%= user.email %>" readonly <%}%> placeholder="Enter your email" required>
                        </div>
                    </div>

                    <button class="bg-[#10B981] text-center text-white font-medium w-[100%] py-2 rounded-md mt-2 md:mt-0" type="submit">Reset</button>
                </form>
            </div>
        </section>
    </main>
    
</body>
</html>